body {
    background-image: url(../imgs/bkg.jpg);
}

h1 {
    font-family: 'Indie Flower', cursive;
    background-color: #00000096;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    padding: 15px;
}

form {
    float: left;
    width: 25%;
    text-align: left;
    background-color: #00000096;
    padding: 15px;
margin-left: 15px;
color: #fff;
}

#form > label:nth-child(2) {
    text-align: center;
    font-weight: bolder;
    margin-left: 104px;

}
#submit {
    padding: 4px 70px 4px 52px ;
    text-align: center;
    margin-left: 104px;
    background-color: #fff;
    margin-left: 50px;


}

.left {
    text-align: center;
}

.right {
    float: right ;
    width: 40%;
    background-color: #00000096;
    color:#fff; 
    padding: 15px;
margin-right: 40px;
margin-left: -100px;
}


table {
    border-collapse: collapse;
    color: #fff;
}

 td , tr{
    border: #fff solid 1px;
    padding: 3px 10px 3px 10px;

}


h3 {
    padding:  10px;
    border: #fff 1px solid;
    width: 120px;
}

label , input , select {
    margin-left: 50px;

}